<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to this mail </h1>
    <p>
      Welcome to Reddoorz<br>
    </p>
    <%= image_tag attachments['holi.jpeg'].url, alt: 'My Photo', class: 'photos' %>

    <p>Thanks for joining and have a great day! This is 20 March 2024 , I hope you had fun at the HOLI PARTY</p>
  </body>
</html>
