<% unless comment.archived? %>
  <div>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= comment.body %>
  </div>

  <div>
    
  <%= time_ago_in_words(comment.created_at) %> ago 
  </div>

  <div>
    <%= link_to "Destroy Comment", [comment.article, comment],class:"custom-link", data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </div>
<% end %>
