<!DOCTYPE html>
<html>
<head>
  <title>credentials updated alert</title>
</head>
<body>
  <h1>Welcome to Our Platform!</h1>
  <p>Hello <%= @user.name %>,</p>
  <p>We have updated your credentials</p>
  <p>Thank you for using our platform. </p>
  
  <p>Best regards,<br>
  The Team</p>
</body>
</html>
